extends layout

block content
  div#container
    div
      h1= title
      p Welcome to #{title}
      div.left
        div
          p on the left
      div.right
        div
          p on the right
