doctype html
html
  head
    title= title
    link(href='/stylesheets/style.css', rel='stylesheet' type='text/css')
    script(src='bower_components/jquery/dist/jquery.min.js')
  body
    block content
    script(src='js/css-helper.js')